{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <form action="" method="post" class="sign-form col-lg-10 mx-auto" id="sign-form" autocomplete="on">
            <div class="logo-form cover">
                <img src="/images/logo-st.jpg" alt="Logo du site">
            </div>
            <div class="intro text-center my-3">
                <h1 class="form-title">S'inscrire</h1>
                <p class="form-caption">Vous n'aviez pas de compte ? Veuillez vous inscrire </p>
            </div>


            <div class="google-guide-container">
                <div class="hr-left"></div>
                <p class="guide-google">Sign up with Email</p>
                <div class="hr-right"></div>
            </div>

            <label for="username">Nom<span class="star-required">*</span></label>
            <input type="text" name="First Name" id="first-name" placeholder="Votre nom" autofocus required>

            <label for="lastName">Prénom<span class="star-required">*</span></label>
            <input type="text" name="Last name" id="last-name" placeholder="Votre prénom" autofocus required>

            <label for="pseudo">Pseudo<span class="star-required">*</span></label>
            <input type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo" autofocus required>

            <label for="desc">Parlez-un peu de vous<span class="star-required">*</span></label>
            <input type="text" name="desc" id="desc" placeholder="Votre description" autofocus required>

            <label for="level">Quel est votre status <span class="star-required">?</span></label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Je suis <span class="star-required">*</span></option>
                <option value="2">Junior</option>
                <option value="3">Senor</option>
            </select>

            <label for="type">Nous vous proposons des offres en <span class="star-required">*</span></label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Je choisis de travailler en <span class="star-required">*</span></option>
                <option value="2">Locale</option>
                <option value="3">Freelance</option>
            </select>

            <label for="city">Ou pourrions-nous vous trouver<span class="star-required">*</span></label>
            <input type="text" name="city" id="city" placeholder="Votre localisation" autofocus required>

            <label for="email">Email<span class="star-required">*</span></label>
            <input type="email" name="email" id="email" placeholder="mail@gmail.com" required>

            <label for="password">Password<span class="star-required">*</span></label>
            <input type="password" name="password" id="password" placeholder="Veuillez entrez un mot de passe sécuriser" required>
            
            <label for="type">Stack</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>stack</option>
                <option value="2">stack1</option>
                <option value="3">stack2</option>
            </select>

            <br>

            <input type="checkbox" name="terms-agree" id="terms-agree" required>
            <p class="sentence-agree">J'accèpte  <a href="">la confidientialité & les conditions</a></p>

            <input type="submit" value="Sign Up" id="submit">

            <p class="have-account-line">vous aviez déjà un compte<a href="">Se connecter</a></p>

        </form>
    </div>
{% endblock %}