<!-- Modal -->
<div class="modal basic fade" id="modalBasics" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Offres basic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Vous aviez choisis l'offres basic </p>
                <div class="price">
                    120.000MGA / Mois
                </div>
                <div class="airtel-money my-3">
                    <p>Notre méthode de payment est par Airtel Money</p>
                    <img src="/images/products/airtel.JPG" alt="Airtel">
                </div>
                <div class="input my-3">
                    <label for="pseudo">Pseudo<span class="star-required">*</span></label>
                    <input type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo" autofocus required>

                    <label for="tel">Numéro de téléphone <span class="star-required">*</span></label>
                    <input type="tel" name="tel" id="tel" placeholder="Votre numéro de téléphone" autofocus required>
                </div>
                <div class="text-center my-3">
                    <button type="button" class="link">
                        Valider ma commande
                    </button>
                </div>
                <p>Vous n'aviez pas encore de compte ? Veuillez-vous <a href="Lien vers la page inscription">S'inscrire</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-red" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<script>
    const phoneInputField = document.querySelector('#phone');
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>