<div class="p-3 mb-0 chatContainer hide shadow card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded-circle" style="height: 30px;" src="./images/users/avatar.jpg" alt="Pdp" >
                <span class="prestataireName d-inline-block font-size-14">Name Of The Poster</span>
            </div>
            {# <div class="col-1 cursor-pointer text-center"><i class="fas fa-minus"></i></div> #}
            <div class="col-1 cursor-pointer text-center"><i class="fas fa-x"></i></div>
        </div>
        
    </div>
    <div class="card-body messagebody">
        <div class="msgContainer position-relative">
            <img class="position-absolute img-fluid d-inline-block userImg sender rounded-circle" src="./images/users/avatar.jpg" alt="Pdp" >
            <div class="msg rounded d-inline-block bg-info-bright p-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab necessitatibus, eius alias eligendi quis maxime officiis exercitationem iusto maiores provident assumenda id eos dolores deserunt, qui distinctio nesciunt delectus atque?
            </div>
        </div>

        <div class="msgContainer position-relative">
            <img class="position-absolute img-fluid d-inline-block userImg receiver rounded-circle" src="./images/users/avatar.jpg" alt="Pdp" >
            <div class="msg rounded d-inline-block bg-light-bright p-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab necessitatibus, eius alias eligendi quis maxime officiis exercitationem iusto maiores provident assumenda id eos dolores deserunt, qui distinctio nesciunt delectus atque?
            </div>
        </div>
    </div>
    <div class="card-footer">
        <form action="" autocomplete="off" >
            <div class="row">
                <div class="col-2 m-0 p-0 text-center">
                    <img class="img-fluid rounded-circle" style="height: 30px; width:30px" src="./images/users/avatar.jpg" alt="Pdp" >
                </div>
                <div class="col-8 p-0 m-0"><input type="text" autoComplete="off" class="form-control-sm form-control d-inline "></div>
                <div class="col-1"><button type="button" class="btn btn-sm"><i class="fas fa-paper-plane"></i></button></div>
            </div>
            
            
        </form>
    </div>
</div>