<footer class="footerPage">
    <div class="footer-contenu">
        <div class="logo-site">
            <img src="/images/logo-st.jpg" alt="">
        </div>
        <div class="footerRs">
            <div class="ico shadow-lg">
            <i class="fab fa-facebook"></i>
            </div>
            <div class="ico shadow-lg">
            <i class="fab fa-instagram"></i>
            </div>
            <div class="ico shadow-lg">
            <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </div>
</footer