<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" id="exampleModalLabel">Connection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Pseudo</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Seal-Team">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Mots de passe</label>
                    <input type="password" class="form-control" id="exampleFormControlInput2">
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-dark">Connexion</button>
            </div>
        </form>
      </div>
    </div>
  </div>