<nav class=" border border-info border-opacity-10 rounded p-0 m-2 ms-4 me-4 barDeNavigation fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-4 col-sm-12">
                <div class="collapse navbar-collapse align-items-center" id="navbarTogglerDemo02">
                    <ul class="navbar-nav pt-2 w-100 text-center justify-content-center me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link profilBtnNav rounded" aria-current="page" href="/">Accueil</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link profilBtnNav rounded" href="/offres">Offres</a>
                      </li>
                    </ul>
                  </div>
            </div>


            <div class="col-lg-4 col-6 position-relative pt-1 text-center">
                <a class="navbar-brand" href="#"><img src="./images/logo-st.jpg" class="rounded img-fluid" style="height: 50px;" alt="" srcset=""> Seal-Team Job </a>
            </div>

            <div class="col-lg-4 col-6 ">
                  
              <div class="dropdown float-end">
                <div class="profilBtnNav rounded btn" data-bs-toggle="dropdown" id="dropdownMenuButton1">
                  <img class="img-fluid rounded-circle" style="height: 35px;" src="./images/users/avatar.jpg" alt="Pdp" >
                  <span class="ps-2 me-5">Anarana</span>
                </div>
                
                <ul class="dropdown-menu mt-2 text-center p-3" id="dmenul" aria-labelledby="dropdownMenuButton1">
                  <li class="mb-2"><button class="dropdown-item btn" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas pe-2 fa-key"></i> Connexion</button></li>
                  <li><a class="dropdown-item btn" href="/inscription"><i class="fas pe-2 fa-sheet-plastic"></i> Inscription</a></li>
                </ul>
              </div>
          
                <button class="navbar-toggler ms-sm-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
      

      
      
    </div>
  </nav>
</nav>
