<nav class=" border border-info border-opacity-10 rounded p-0 m-2 ms-4 me-4 barDeNavigation fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-4 col-sm-12">
                <div class="collapse navbar-collapse align-items-center" id="navbarTogglerDemo02">
                    <ul class="navbar-nav w-100 text-center justify-content-center me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Offres</a>
                      </li>
                    </ul>
                  </div>
            </div>


            <div class="col-lg-4 col-sm-3 position-relative pt-1 text-center">
                <a class="navbar-brand" href="#">Seal-Team Job</a>
            </div>

            <div class="col-lg-4 col-sm-3 text-end">
                  <img class="img-fluid rounded-circle" style="height: 35px;" src="./images/users/avatar.jpg" alt="Pdp" >
                  <span class="ps-2 me-5">Anarana</span>

                <button class="navbar-toggler ms-sm-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
      

      
      
    </div>
  </nav>
</nav>
