{% extends 'layout.twig' %}

{% block body %}
  <header class="headerPage">
    <div class="header_image">
      <img src="/images/products/fond.jpg" alt="">    
      <div class="header_contenu">
        <h1>Titre</h1>
        <p>Description</p>
      </div>
    </div> 
    <div class="header_contenu-input">
      <div class="header_contenu-input--search col-lg-8 mx-auto">
          <input class="input-grey-rounded" type="select" placeholder="Search">
          <input class="input-grey-rounded" type="text" placeholder="Search">
          <input class="btn btn-blue" type="submit" placeholder="Search">
      </div>
    </div>
  </header>
    {# <section class="offre-image_survole2">
      <div class="image-survole cover">
        <img src="/images/products/locale.JPG" alt="">
      </div>
    </section> #}
    <section class="offres container">
    <div class="like-h1">" Nos offres "</div>
      <div class="row">
        <div class="col-md-6 mb-5">
          <div class="offres_locale shadow-lg">
            <div class="offre-image cover">
              <img src="/images/products/offre-locale.JPG" alt="Offre locale">
            </div>
            <div class="offre-contenu">
              <h2>Nos offres locales</h2>
              <p>Vous aviez la possibilté de venir travailler chez nous</p>
              <a href="" class="btn btn-offre">En savoir plus sur cette offre</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="offres_home shadow-lg">
            <div class="offre-image cover">
              <img src="/images/products/offre-home.JPG" alt="Offre en freelance">
            </div>
            <div class="offre-contenu">
              <h2>Nos offres locales</h2>
              <p>Vous aviez la possibilté de travailler chez vous</p>
              <a href="" class="btn btn-offre">En savoir plus sur cette offre</a>
            </div>
          </div>
        </div>
      </div>
    </section> 
    <section class="offre-image_survole">
      <div class="offre-image_survole1">
        <div class="image-survole cover">
          <img src="/images/products/image-survole.JPG" alt="">
        </div>
      </div>
    </section>
  
    <section class="pub_airtel">
      <div class="pub_airtel-slide">
        <div class="col-lg-9 mx-auto">
          <div data-bs-interval="2000" data-bs-wrap="true" data-bs-touch="true" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active cover">
                <img src="/images/products/airtel-image-1.png" alt="">
              </div>
              <div class="carousel-item cover">
                <img src="/images/products/airtel-image-3.png" alt="">
              </div>
              <div class="carousel-item cover">
                <img src="/images/products/airtel-image-1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="type_abonnement">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 abonnement">
            <div class="shadow-lg abonnement-basic">
              <h2>Basic</h2>
              <div class="content">
                <div class="price">
                  30.000MGA / Month
                </div>
                <div class="acces-basic">
                  <div class="icon">
                    <i class="fas fa-check"></i><p>Possibilté de postulé 3 offres/j</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-x"></i><p>Possibilté d'accéder au compte VIP</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-check"></i><p>Communication par chat directe</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-x"></i><p>Commission 0%</p>
                  </div>
                  <div class="icon">
                  <i class="fas fa-check"></i><p>0.5 bonnus attribué gratuitement</p>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="link" data-bs-toggle="modal" data-bs-target="#modalBasics">
                    S'abonnez
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 abonnement">
            <div class="shadow-lg abonnement-standard">
              <h2>standard</h2>
              <div class="content">
                <div class="price">
                  60.000MGA / Month
                </div>
                <div class="acces-standard">
                  <div class="icon">
                    <i class="fas fa-check"></i><p>Possibilté de postulé 10 offres/j</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-check"></i><p>Possibilté d'accéder au compte VIP</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-check"></i><p>Communication par chat directe</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-check"></i><p>Commission 60%</p>
                  </div>
                  <div class="icon">
                  <i class="fas fa-check"></i><p>1 bonnus attribué gratuitement</p>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="link" data-bs-toggle="modal" data-bs-target="#modalStandard">
                    S'abonnez
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 abonnement">
            <div class="shadow-lg abonnement-premium">
                <h2>premium</h2>
                <div class="content">
                  <div class="price">
                    120.000MGA / Month
                  </div>
                  <div class="acces-premium">
                    <div class="icon">
                      <i class="fas fa-check"></i><p>Postulez des Offres illimites/j</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-check"></i><p>Possibilté d'accéder au compte VIP</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-check"></i><p>Communication par chat directe</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-check"></i><p>Commission 100%</p>
                    </div>
                    <div class="icon">
                    <i class="fas fa-check"></i><p>2.5 bonnus attribué gratuitement</p>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="link" data-bs-toggle="modal" data-bs-target="#modalPremium">
                      S'abonnez
                  </button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}