<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/custom.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/all.min.css' />
    
    <script src="/js/bootstrap.min.js" defer></script>
    <script src="/js/all.min.js" defer></script>
  </head>
  <body>
    {% include "./includes/nav.twig" %}

    {% block body %}{% endblock %}
  <body>
  </body>
</html>
