{% extends 'layout.twig' %}
{% block body %}
<div class="login-form-bd">
  <div class="form-wrapper">
    <div class="form-container">
      <h1>Connexion</h1>
      <form id="login-form">
        <div id="ErrLog"></div>
        <div class="form-control">
          <input type="text" name="email" required>
          <label> Email</label>
        </div>

        <div class="form-control">
          <input type="password" name="password" required>
          <label> Password</label>
        </div>
        <button class="login-btn" type="button" id="login-form-btn">Login</button>
        <p class="text">Don't have an account? <a href="register.html"> Register</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}