.headerPage {
    /* background-image: url(/images/); */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #E9EEF0;
}
.headerPage span {
    color: #11111a !important;
}
.headerPage video{
    z-index: -100;
    box-shadow:0px 0px 20px #05023c;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(50%);
    backdrop-filter: drop-shadown(0px 0px 10px cyan);
    clip-path: polygon(16.77% 81.78%, 0.29% 74.41%, 0.29% 0.61%, 20.94% 0.44%, 27.16% 5.8%, 40.86% 0.34%, 99.41% 0.38%, 99.81% 67.57%, 87.63% 65.08%, 71.87% 82.36%, 60.39% 75.62%);
}
.header_image {
    position: relative;
}
/* .header_image img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    opacity: 0.5;
} */
.header_contenu {
    position: relative;
    /* top: 50%;
    transform: translateY(-100%);
    left: 0;
    right: 0; */
    z-index: 10;
    text-align: center;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
/* 
.header_contenu h1,
.header_contenu p {
    color: white;
}
.header_contenu-input {
    position: relative;
}
.header_contenu-input--search {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 30px; */
}
.input-grey-rounded:not(:last-child) {
    margin-right: 20px;
}
.input-grey-rounded {
font-size: 16px;
line-height: 1.5;
background: #E9EEF0;
background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
background-repeat: no-repeat;
background-position: 15px 10px;
background-size: 20px 20px;
border-radius: 100px;
width: 300px;
padding: .5em 1em .5em 2.5em;
border: 5px solid var(--blue);
} 
.input-grey-rounded::placeholder{
    color: #838D99;
}

.input-grey-rounded:focus {
    outline: none;
    background-color: #FFF;
    border: 5px solid var(--blue);
} 

/* contenu offre */
.offres_home,
.offres_locale {
    background-color: #11111a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50px 50px;
    flex-direction: column;
} 
.offre-image {
    aspect-ratio: 260 / 150;
    cursor: pointer;
}
.offre-image:hover img{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.offre-contenu {
    padding: 30px 0;
    color: var(--white);
}
.offres {
    margin-bottom: 20px;
}
.offres .like-h1 {
    font-size: 2.4rem;
    color: #11111a;
    text-align: center;
    margin: 50px 0;
    position: relative;
}
.offre-image_survole {
    z-index: -1;
    /* background: rgb(0,0,255);
background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(17,17,26,0.2861519607843137) 100%); */
}
.offre-image_survole2,
.offre-image_survole1 {
    position: relative;
    height: 350px;
    margin-top: -110px;
}
.offre-image_survole1 .image-survole ,
.offre-image_survole2 .image-survole {
    width: 450px;
    position: absolute;
    height: 450px;
    left: -113px;
    overflow: hidden;
    margin-right: auto;
}
.offre-image_survole2 .image-survole {
    right: -113px;
    left: auto;
    bottom: -64px;
    border-radius: 500px 0 0 30px;
    border: 15px solid #4848f9;
}
.offre-image_survole1 .image-survole {
    right: auto;
    left: -113px;
    border-radius: 50%;
    border: 15px solid blue;
}
/* class css de la page en publication de airtel */
.pub_airtel {
    /* background: rgb(0,7,193);
    background: radial-gradient(circle, rgba(0,7,193,1) 0%, rgba(17,17,26,1) 100%); */
}
.carousel-item {
    background-color: var(--white);
    border-radius: 50px 100px 50px 100px;
}
.carousel-inner {
    max-width: 450px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pub_airtel {
    position: relative;

}
.pub_airtel::before{
    background-image: url(/images/products/fondBody.JPG);
    background-repeat: no-repeat;
    width: 100%;
    content: '';
    position: absolute;
    z-index: -1;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
}
/* css abonnement */
.icon {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.icon .fa-check {
    padding-right: 10px;
    color: green;
    font-size: 1.4rem;
}
.icon .fa-x {
    padding-right: 10px;
    color: red;
    font-size: 1.4rem;
}
.icon p {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-weight: 700;
}
.content {
    position: relative;
    padding: 35px 30px;
}
.abonnement-premium,
.abonnement-standard,
.abonnement-basic {
    padding: 20px 10px;
    margin-top: 50px;
    border-radius: 20px;
}
.abonnement-premium h2,
.abonnement-standard h2,
.abonnement-basic h2 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.abonnement-basic h2 {
    color: #11111a;
}

.abonnement-standard h2 {
    color: red;
}
.abonnement-standard {
    transform: scale(1.1);
}
.abonnement-premium h2 {
    color: blue;
}
.price {
    background: black;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 100px;
    z-index: 2;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px;
}
.acces-premium,
.acces-standard,
.acces-basic {
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.abonnement-basic .link a,
.acces-basic {
    background-color: #11111a;
    color: var(--white);
}
.abonnement-standard .link a,
.acces-standard {
    background-color: red;
    color: var(--white);
}
.abonnement-premium .link a,
.acces-premium {
    background-color: blue;
    color: var(--white);
}
.abonnement .link a{
    padding: 15px 40px;
    color: var(--white);
    border-radius: 50px;
}
.type_abonnement {
    margin: 100px 0;
}

/* footer */
.footerPage {
    padding: 20px;
    background-color: #05023c;
}
.footer-contenu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footerRs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.logo-site img {
    max-width: 5%;
    border-radius: 50%;
}
.footerRs .ico {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11111a;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 50%;
}