* {
    transition: all .4s ease !important;
    box-sizing: border-box;
}

.barDeNavigation{
    backdrop-filter: blur(5px);
}
.italic{
    font-style: italic !important;
}
.underline{
    text-decoration: underline !important;
}
.profileSidbar {
    height: 80vh;
    width: 100%;
}
.profileSidbar .pdp{
    border: solid 10px white;
    width: 170px;
    height: 170px;
    margin: 10px auto;
}
.prestataire{
    background-color: rgb(247, 251, 255);
}